<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>GSS</title>
    <meta name="description"
          content="Un oceano di servizi a portata di mano. Per te, per ogni tua esigenza.">
    <meta name="keywords"
          content="servizi, garamante, garamante services suite, garamante services, garamante suite, garamante social manager, garamante thread, garamante elections manager, garamante payments manager, garamante social, garamante thread generator, garamante elections, garamante payments, garamante social media manager, garamante social media, garamante social manager, garamante social media management, garamante social media management system, garamante social media management tool, garamante social media management tools, garamante social media management platform, garamante social media management platforms, garamante social media management software, garamante social media management system free, garamante social media management system open source, garamante social media management system software, garamante social media management system tools, garamante social media management system platform, garamante social media management system platforms, garamante social media management system software free">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Garamante Services Suite">
    <meta property="og:description"
          content="Un oceano di servizi a portata di mano. Per te, per ogni tua esigenza.">
    <meta property="og:url" content="https://garamante.it/gss/">
    <meta property="og:site_name" content="Garamante Social Manager">
    <meta property="og:image" content="https://garamante.it/gss/images/og.webp">
    <meta property="og:locale" content="it_IT">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Garamante Social Manager">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="https://garamante.it/gss/">
    <meta property="twitter:creator" content="@OnnwenC">
    <meta property="twitter:title" content="Garamante Services Suite">
    <meta property="twitter:description"
          content="Un oceano di servizi a portata di mano. Per te, per ogni tua esigenza.">
    <meta property="twitter:url" content="https://garamante.it/gss/">
    <meta property="twitter:domain" content="garamante.it">
    <meta property="twitter:site_name" content="Garamante Services Suite">
    <meta property="twitter:image" content="https://garamante.it/gss/images/og.webp">
    <meta property="twitter:image:alt" content="Garamante Services Suite">
    <meta property="twitter:card" content="summary_large_image">
    <link rel="icon" href="/gss/images/favicon.png">
    <link rel="stylesheet" href="/gss/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/gss/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/gss/stylesheets/style.css">
    <script src="/gss/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/gss/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/gss/node_modules/sticky-footer.js/src/sticky-footer.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-light px-2">

<div class="modal fade" id="termsOfUseModal" tabindex="-1" aria-labelledby="termsOfUseModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termsOfUseModalLabel">Termini di utilizzo <i
                            class="bi bi-info-circle-fill text-primary ms-1"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ol>
                    <li>
                        <strong>Accettazione dei termini</strong><br>
                        L'utilizzo dei servizi offerti da Garamante Services Suite è subordinato all'accettazione dei termini di utilizzo.
                    </li>
                    <li>
                        <strong>Modifiche ai termini</strong><br>
                        Garamante Services Suite si riserva il diritto di modificare i termini di utilizzo in qualsiasi momento. Le modifiche saranno comunicate tramite il sito web.
                    </li>
                    <li>
                        <strong>Modifiche ai servizi</strong><br>
                        Garamante Services Suite si riserva il diritto di modificare i servizi offerti in qualsiasi momento.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="privacyModalLabel">Informativa sulla privacy <i
                            class="bi bi-shield-lock-fill text-primary ms-1"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ol>
                    <li>
                        <strong>Dati raccolti</strong><br>
                        Questa pagina web non raccoglie alcun dato personale.
                    </li>
                    <li>
                        <strong>Cookie</strong><br>
                        Questa pagina web utilizza cookie tecnici per facilitare l'accesso al servizio.
                    </li>
                    <li>
                        <strong>Salvataggio dei dati</strong><br>
                        Questa pagina web non salva alcun dato personale.
                    </li>
                    <li>
                        <strong>Condivisione dei dati</strong><br>
                        Questa pagina web non condivide alcun dato personale.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pricesModal" tabindex="-1" aria-labelledby="pricesModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pricesModalLabel">Prezzi <i
                            class="bi bi-tag-fill text-primary ms-1"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>I nostri servizi sono attualmente gratuiti. In futuro potremmo introdurre un piano a pagamento per
                    l'utilizzo di alcune funzionalità avanzate.</p>
            </div>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="d-flex flex-column">
        <header>
            <h1 class="mb-2 text-center mt-5">Garamante Services Suite</h1>
            <h5 class="text-center text-muted mt-3">Un oceano di servizi a portata di mano. Per te, per ogni tua
                esigenza.</h5>
        </header>
        <div class="container">
            <h4 class="mb-3 mx-4 mt-5">Già qui, accessibili fin da subito.</h4>
            <div class="bg-white rounded-4 mb-5 p-4 shadow row pb-4 gap-3" id="container">
                <div class="col pb-2">
                    <h2>GSM</h2>
                    <h3>Social Manager</h3>
                    <img src="/images/gsm.webp" class="w-100 mt-3 rounded-3" alt="Test">
                    <p class="fw-medium mt-4">Ogni click, ogni post, ogni condivisione: GSM è qui, per te.</p>
                    <p class="text-muted">GSM permette di pubblicare contemporaneamente su più piattaforme, con un
                        solo click. GSM è gratuito e non richiede alcuna registrazione. GSM è semplice, veloce e
                        sicuro.</p>
                    <a href="https://garamante.it/gsm/" class="btn btn-primary w-100 mt-2">Inizia a usare GSM</a>
                </div>
                <div class="col">
                    <h2>Garamante Thread</h2>
                    <h3>Thread Generator</h3>
                    <img src="/images/gt.webp" class="w-100 mt-3 rounded-3" alt="Test">
                    <p class="fw-medium mt-4">Per chi avrà sempre i Thread nel proprio cuore.</p>
                    <p class="text-muted">Garamante Thread è un generatore di Thread per Twitter.
                        GT implementa GaraSense per far si che, tenendo conto di punteggiatura e lunghezza dei singoli
                        paragrafi, il testo generato sia il più naturale possibile.</p>
                    <a href="https://garamante.it/thread/" class="btn btn-primary w-100 mt-2">Inizia a usare Garamante
                        Thread</a>
                </div>
            </div>

            <h4 class="mb-3 mx-4 mt-5">Ci stiamo ancora lavorando.</h4>
            <div class="bg-white rounded-4 mb-5 p-4 shadow pb-4 row gx-3" id="container">
                <h2>GEM</h2>
                <h3>Elections Manager</h3>
                <p class="fw-medium mt-4">Il futuro del management d'elezioni politiche.</p>
                <p class="text-muted">Garamante Elections Manager permetterà di gestire le elezioni politiche in modo
                    semplice e veloce. Rappresentà l'incrocio tra blogger, giornalisti e fornitori di dati di tutto il
                    mondo per fornire un servizio completo e affidabile. GEM metterà a disposizione carte elettorali,
                    dati in tempo reale, statistiche aggiornate, confronti con elezioni precedenti e molto altro.<br>Il
                    futuro del management d'elezioni politiche è qui.</p>
                <a href="#" class="btn btn-primary w-100 disabled mt-2 mb-4">Presto disponibile</a>
                <hr>
                <h2 class="mt-4">GPM</h2>
                <h3>Payments Manager</h3>
                <p class="fw-medium mt-4">L'emozione d'iscriversi al proprio blogger preferito, in un click.</p>
                <p class="text-muted">GPM sarà un servizio di gestione dei pagamenti per blogger e giornalisti. GPM
                    permetterà di gestire le iscrizioni a pagamento, le donazioni e i pagamenti per i servizi offerti
                    dai blogger e dai giornalisti. GPM sarà semplice, intuitivo, veloce e sicuro. Garamante Payments
                    Manager avrà costi di gestione bassi, rappresentati unicamente dalle commissioni bancarie.</p>
                <a href="#" class="btn btn-primary w-100 disabled mt-2">Presto disponibile</a>
            </div>
        </div>
    </div>
</div>
<footer class="text-center text-secondary w-100 mb-4">
    <div class="d-flex justify-content-center gap-2">
        <button type="button" class="btn btn-link-button" data-bs-toggle="modal" data-bs-target="#privacyModal">
            Privacy
        </button>
        <button type="button" class="btn btn-link-button" data-bs-toggle="modal" data-bs-target="#termsOfUseModal">
            Termini di utilizzo
        </button>
        <button type="button" class="btn btn-link-button" data-bs-toggle="modal" data-bs-target="#pricesModal">
            Prezzi
        </button>
    </div>
    <a href="https://garamante.it" class="btn btn-link-button mt-2 text-muted">www.garamante.it</a>
</footer>
</body>
<script>
    jQuery(".main-content").adjustHeightForScreen();
</script>
</html>